{% extends 'base.html' %}
{% load static %}

{% block page_title %} {{ page.title }} {% endblock %}

{% block page_content %}
	<h1>{{ page.title }}</h1>
	<div class="row">
	{% for device in page_obj %}
		<div class="col s12 m6 l4">
			<div class="card">
				<div class="card-image">
					{% if device.image %}
						<img src="{{ device.image.url }}" alt="{{ device.name }}">
					{% else %}
						<img src="" alt="{{ device.name }}">
					{% endif %}
					<span class="card-title">{{ device.name }}</span>
				</div>
				<div class="card-content">
					<p></p>
				</div>
				<div class="card-action">
					Select
				</div>
			</div>
		</div>
	{% endfor %}
	</div>

	<ul class="pagination center-align">
		{% if page_obj.has_previous %}
			<li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
		{% endif %}

		{% if page_obj.paginator.num_pages <= 6 %}
			{% for p in page_obj.paginator.page_range %}
				{% if page_obj.number == p %}
					<li class="waves-effect teal active"><a href="?page={{ p }}">{{ p }}</a></li>
				{% else %}
					<li class="waves-effect"><a href="?page={{ p }}">{{ p }}</a></li>
				{% endif %}
			{% endfor %}
		{% else %}
			{% for p in page_obj.paginator.page_range %}
				{% if p >= page_obj.number|add:"-3" and p <= page_obj.number|add:"3" %}
					{% if page_obj.number == p %}
						<li class="waves-effect teal active"><a href="?page={{ p }}">{{ p }}</a></li>
					{% else %}
						<li class="waves-effect"><a href="?page={{ p }}">{{ p }}</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}

		{% if page_obj.has_next %}
			<li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
		{% endif %}
	</ul>

	{% for page_section in page_sections %}
		<div class="section">
			<h2>{{ page_section.title }}</h3>
			{% if page_section.image %}
				<img src="{{ page_section.image.url }}" alt="{{ page_section.title }} image" width="100%">
			{% endif %}
			{{ page_section.html_content | safe }}
		</div>
	{% endfor %}
	<div class="row">
		<h3>Want to buy device?</h3>
		<form class="s12" action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
		</form>
	</div>
{% endblock %}

