<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>{% block page_title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div class="container">
	{% block page_content %}{% endblock %}
	</div>
    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const selects = document.querySelectorAll('select');
			const selectInstances = M.FormSelect.init(selects);
		});

		const deviceList = document.getElementById('deviceList');
		deviceList.addEventListener('click', function(e) {
			if (e.target.classList.contains('select-device')) {
				console.log(e.target.dataset.deviceId);

				M.toast({html: 'Device selected!'});
			}
		});
	</script>
</body>
</html>
